<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <nlog>
    <targets>
      <target name="logFile" type="File" fileName="${basedir}/Log/${date:format=yyyy-MM.dd}.csv">
        <layout type="CSVLayout">
          <withHeader>true</withHeader>
          <column name="Day" layout="${longdate:universalTime=true}" />
          <column name="Time" layout="${time}" />
          <column name="Machine Name" layout="${machinename}" />
          <column name="Windows User" layout="${windows-identity}" />
          <column name="Message" layout="${message}" />
          <column name="Exception" layout="${exception:innerFormat=Message, Type, ShortType, ToString, Method, StackTrace:maxInnerExceptionLevel=20:innerExceptionSeparator=-:format=Message, Type, ShortType, ToString, Method, StackTrace}" />
          <column name="OS Info" layout="${event-context:item=operating_system}" />
        </layout>
      </target>
      <target name="logConsole" type="Console" layout="${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="logFile" />
      <logger name="*" minlevel="Info" writeTo="logConsole" />
    </rules>
  </nlog>
</configuration>